# Имя проекта для уникальности контейнеров
PROJECT_NAME=laravel

# Порты для каждого сервиса
NGINX_PORT=8080
PHP_PORT=9000
MYSQL_PORT=3306
REDIS_PORT=6379

# Настройки MySQL
MYSQL_ROOT_PASSWORD=laravel
MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=laravel

# Настройки Redis
REDIS_PASSWORD=laravel